
body {
	background: #00B366;
	font-weight: bold;
	font-size: 20px;
}

#topLevel {
	color: #FFFFFF;
	font-size: 25px;
	background: #00bfff;
	height: 10%;
	border: 4px solid black;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.1em;
   	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
   	border-radius: 10px;
   	font-family: Rockwell;
}

#sideBar{
	margin-top: 0.5%;
	float: left;
	color: #00B366;
	background: #00B366;
}

#vizFrame {
	margin-top: 0.5%;
	height: 55em;
	width: 100%;
	background: #00B366;
	float: left;
	overflow: auto;
}

#jobs {
	margin-top: 0.5%;
	width:90%;
	background: #00B366;
	overflow: auto;
}

.total{
	font-size: 20px;
}

input {
	background-color: #AAAAAA;
	color: #000000;
	height: 20px;
	font-family: "Felix Titling";
	font-size: 20px;
	font-weight: bold;
}

select {
	background-color: #AAAAAA;
	-moz-box-shadow:    inset 0 0 10px #515151;
    -webkit-box-shadow: inset 0 0 10px #515151;
   	box-shadow:         inset 0 0 10px #515151;
   	font-weight: bold;
   	font-size: 20px;
}

#farlene {
	height: inherit;
	width: 80%;
	background-color: #00B366;
	float: left;
	border: 2px solid black;
   	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
   	border-radius: 10px;
	box-sizing: border-box;
}

#farleneInfo {
	height: inherit;
	width: 18%;
	border: 2px solid black;
	float: left;
	margin-left: 0.5%;
	background: #00B366;
   	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
   	border-radius: 10px;
   	font-family: Rockwell;
   	font-size: 1.0em;
	box-sizing: border-box;
	word-wrap: break-word;
}

#farleneInfo p {
	margin: 2%;
}

#farleneInfo div {
	margin: 2%;
}

#farleneInfo h3 {
	margin: 2%;
}

option {
	-moz-box-shadow:    inset 0 0 10px #515151;
    -webkit-box-shadow: inset 0 0 10px #515151;
   	box-shadow:         inset 0 0 10px #515151;
   	font-weight: bold;
  	font-size: 20px;
}

button {
	text-align: center;
   	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
	background-color: #00bfff;
	font-size: 16px;
	border-radius: 5px;
}

#sideBar button {
	text-align: center;
   	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
	background-color: #00bfff;
	width: 250px;
	height: 30px;
	font-size: 20px;
   	border-radius: 10px;	
}

form button {
	width: auto;
	height: auto;
	font-size: 16px;
	border-radius: 5px;
}

.job {
	color: #FFFFFF;
	font-size: 30px;
	border: 4px solid black;
	text-align: center;
	text-shadow: black 0.1em 0.1em 0.1em;
   	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
   	border-radius: 10px;
}

.jobTitle {
	margin-bottom: 0em;
	padding: 0% 1% 0% 1%;
	font-size: 0.8em;
}

.jobDesc {
	margin-top: 0em;
	font-weight: 100;
	font-size: 0.7em;
	padding: 0% 1% 0% 1%;
}

.perchGuard {
	color: black;
	background-color: #EE6531;
	font-family: 'Oleo Script';
	text-shadow: 0px 0px 0px rgba(0,0,0,0.1);
}

.alchemistSociety {
	background-color: #0F5A08;
	font-family: "Merienda One";
	text-shadow: 0px 0px 0px rgba(0,0,0,0.1), 0px 0px 0px rgba(0,0,0,0.05);
}

.smithingGuild {
	background-color: #272630;
	font-family: "Berkshire Swash";
}

.ASoHM {
	color: black;
	background-color: #A768A1;
	font-family: "Pacifico";
	text-shadow: 0px 0px 0px rgba(0,0,0,0.1), 0px 0px 0px rgba(0,0,0,0.05);
}

.SW {
	color: white;
	background-color: rgb(29, 12, 78);
	font-family: "Times";
	text-shadow: 0px 0px 0px rgba(0,0,0,0.1), 0px 0px 0px rgba(0,0,0,0.05);
}

.jaspersLeague {
	color: rgb(8, 0, 0);
	background:
		radial-gradient(rgb(191, 196, 119), rgb(115, 91, 11));
	background-blend-mode: screen;
	font-family: "monospace";
	text-shadow: 0px 0px 0px rgba(0,0,0,0.1), 0px 0px 0px rgba(0,0,0,0.05);
}

.misc {
	background-color: #2736B7;
	font-family: 'Lobster Two';
	text-shadow: 0px 0px 0px #ededed, 0px 0px 0px rgba(0,0,0,0.15);
}

.enchantersConvent {
	color: rgb(8, 0, 0);
	background:
		linear-gradient(rgb(8, 79, 141), transparent),
		linear-gradient(to bottom right, rgb(139, 73, 87), rgb(182, 0, 199));
	background-blend-mode: screen;
	background-color: #570634;
	font-family: 'Oleo Script Swash Caps', cursive;
	text-shadow: 0px 0px 0px #000000, 0px 0px 0px rgba(0,0,0,0.15);
}

.churchOfCairith {
	color: rgb(8, 0, 0);
	background:
		linear-gradient(rgb(8, 79, 141), transparent),
		linear-gradient(to bottom right, rgb(139, 73, 87), rgb(182, 0, 199));
	background-blend-mode: screen;
	background-color: #570634;
	font-family: 'Oleo Script Swash Caps', cursive;
	text-shadow: 0px 0px 0px #000000, 0px 0px 0px rgba(0,0,0,0.15);
}

.fireTail {
	background:
		linear-gradient(red, transparent),
		linear-gradient(to top left, rgb(217, 149, 23), transparent),
		linear-gradient(to top right, rgb(189, 42, 2), rgb(78, 20, 4));
	background-blend-mode: screen;
	color: rgb(0, 0, 0);
	mix-blend-mode: normal;
	font-family: 'Times';
	text-shadow: 0px 0px 0px #000000, 0px 0px 0px rgba(0,0,0,0.15);
}

.enchant {
	color: #FFFFFF;
	font-size: 0.9em;
	border: 4px solid black;
	text-shadow: black 0.1em 0.1em 0.1em;
   	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
	border-radius: 10px;
	padding: 0.5em 1em 0.5em 1em;
	display: inline-block;
	min-width: 400px;
	max-width: 400px;
	min-height: 400px;
	max-height: 400px;
	overflow-x: auto
}

.enchantTitle {
	font-size: 1.2em;
}

.eArmor{
	background:
		radial-gradient(rgb(86, 118, 143), rgb(22, 34, 58));
	font-family: 'Times';
	text-shadow: 0px 0px 0px #ededed, 0px 0px 0px rgba(0,0,0,0.15);
}

.eWeapon{
	background:
		radial-gradient(rgb(190, 24, 24), rgb(83, 3, 3));
	font-family: 'Times';
	text-shadow: 0px 0px 0px #ededed, 0px 0px 0px rgba(0,0,0,0.15);
}

.eItem{
	background-color: #968d0f;
	font-family: 'Times';
	text-shadow: 0px 0px 0px #ededed, 0px 0px 0px rgba(0,0,0,0.15);
}

.item {
	color: #FFFFFF;
	font-size: 0.7em;
	border: 4px solid black;
	text-shadow: black 0.1em 0.1em 0.1em;
   	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
	border-radius: 10px;
	display: inline-block;
	background-color: rgb(51, 25, 108);
	text-align: left;
	padding: 0.5em 1em 0.5em 1em;
	line-height: normal;
	min-width: 300px;
	max-width: 300px;
	min-height: 300px;
	max-height: 300px;
	overflow-x: auto
}

.item p{
	margin: 0.4em;
}

.items {
	color: #FFFFFF;
	flex-flow: wrap;
	align-items: baseline;
}

.weapon {
	background-color: rgb(104, 39, 13);
}

.potion {
	background-color: rgb(53, 139, 155);
}
